.container{
    height: auto;
    max-width:364px !important;
    margin: 1.5rem;
    padding: 3rem;
}

#title{
    justify-content: center;
}
#gameboard{
    justify-content: center;
    background-color: azure;
}
#who-plays{
    justify-content: center;
    margin: 1.5rem auto;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    color: rgb(108, 117, 125);
    letter-spacing: 0.125rem;
}
.square{
    width: 100px;
    height: 100px ;
    font-size: 65px;
}

.square:hover{
    background-color: rgba(0, 127, 255, 0.1);
}

.bottom{
    border-bottom-color: rgba(52, 58, 64, 0.500);
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
}
.left{
    border-left-color: rgba(52, 58, 64, 0.500);
    border-left-style: solid;
    border-left-width: 2.5px;
}
.right{
    border-right-color: rgba(52, 58, 64, 0.500);
    border-right-style: solid;
    border-right-width: 2.5px;
}

.top{
    border-top-color: rgba(52, 58, 64, 0.500);
    border-top-style: solid;
    border-top-width: 2.5px;
}

